body{
    background-color: #eef9bf;
    font-family: 'Roboto',normal;
    box-sizing: border-box;
}
h1{
    font-weight: 700;
    font-size: 56px;
    color:#75B79E;
    text-align: center;
    line-height: 66px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.header{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}
.deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1057px;
}
.card{
    width: 117px;
    height: 146px;
    margin: 17px;
    position: relative;
}
.face{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border-radius: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.front-face img{
    height: 100px;
}
.back-face {
    transform: rotateY(180deg);
}
.selected .front-face {
    transform: rotateY(-180deg);
}

.selected .back-face {
    transform: rotateY(0deg);
}

@media(max-width:375px){
    h1{
        font-size: 36px;
        line-height: 42px;
    }
    .deck{
        flex-direction: column;
    }
}