body{
    font-family: 'Roboto', normal;
    background-color: #E5E5E5;
}
*{
    box-sizing: border-box;
}
.header{
    height: 92px;
    background-color: #CF2B2B;
    padding: 18px 21px 18px 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #FFFFFF;
    box-shadow: 0px 3.5px 3.5px #A6A6A6;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
}
h1{
    font-family:'Righteous', normal;
    font-weight: 400;
    letter-spacing: -0.012em;
    font-size: 44px;
}
.slogan{
    font-size: 18px;
    font-weight: 400;
}
h2{
    font-family: 'Righteous', normal;
    font-size: 26px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 17px;
}
.footer{
    height: 92px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.place-order-btn{
    width: 364px;
    height: 61px;
    border-radius: 50px;
    pointer-events: none;
    background-color: #CBCBCB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.place-order-btn p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    width: 190px;
    text-align: center;
    letter-spacing: 0.018em;
    line-height: 23px;
}
.menu-item{
    position: relative;
    width: 172px;
    padding: 18px 14px 13px 14px;
    background-color: #FFFFFF;
    margin-right: 16px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 10px -4px #A6A6A6;
    z-index: 0;
}
.menu-item img{
    margin-bottom: 8px;
}
.dish{
    color: #333333;
    font-weight: 700;
    line-height: 19px;
    padding-top: 1px;
    padding-bottom: 3px;
    margin-bottom: 4px;
}
.dish-description{
    color: #A6A6A6;
    font-size: 15px;
    line-height: 18px;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
.price{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.content{
    padding-left: 19px;
    padding-top: 4px;
    padding-bottom: 16px;
    margin-top: 92px;
    margin-bottom: 92px;
}
.section{
    margin-top: 27px;
}
.carousel{
    display: flex;
    justify-content: left;
    overflow-x: scroll;
}
.selected{
    border:5px solid #32b72f;
    padding: 13px 9px 8px 9px;
}
.selected-check{
    color: #32b72f;
    position: absolute;
    right: 7px;
    bottom: 9px;
    display: none;
    font-size: 112.5%;  
}

.visible {
    display: unset;
}
.activated{
    pointer-events: unset;
    background-color: #32b72f;
}
.activated p{
    font-weight: 700;
}